// /src/scss/_header.scss

.header {
  //
}

.logo {
  display: flex;

  width: 60px;
  min-width: 60px;
  height: 60px;

  color: $white;
  background-color: #3a588c;

  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  &__link {
    @include font(14px, 400, 1);
    @include transition(color);

    padding: 17px;

    text-decoration: none;

    color: $black;

    &:hover {
      text-decoration: underline;
    }

    &:hover,
    &.is-active {
      color: $light-gray;
    }

    &.is-active:hover {
      text-decoration: none;
    }
  }

  &__anchor {
    position: relative;

    width: 28px;
    min-width: 28px;
  }
}

.sub-nav {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;

  padding: 5px;

  transform: translate(-50%,-50%);

  &__list {
    @include transition();

    position: absolute;
    z-index: 60;
    top: 0;
    right: 0;

    display: none;

    padding-top: 10px;
    padding-bottom: 10px;

    opacity: 0;
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  &:hover &__list {
    display: block;

    opacity: 1;
  }

  &__link {
    @include font(13px, normal, 30px);

    display: block;

    padding-right: 57px;
    padding-left: 20px;

    text-align: left;
    text-decoration: none;

    color: $black;

    &:hover {
      color: $light-gray;
    }
  }

  &__item:hover &__link {
    text-decoration: underline;
  }

  .svg-icon-dots {
    position: relative;
    z-index: 70;

    width: 18px;
    height: 4px;
  }
}

.current-action {
  @include font(13px,300,1);

  display: flex;

  margin-right: 21px;
  margin-left: 40px;

  word-break: keep-all;

  align-items: center;

  &__pause {
    margin-right: 20px;

    color: $white;
  }

  &__subscriber-number {
    //
  }

  &__call-duration {
    margin-left: 9px;
  }

  &__cancel {
    margin-left: 20px;

    color: $white;
  }
}



.order-creation {
  @include font(14px);

  text-decoration: none;

  color: $green;

  &:hover {
    text-decoration: underline;
  }
}

.user {
  margin-right: 30px;
  margin-left: auto;

  &__name {
    // миксин генерирует стрелку в псевдоэлементе after см. _mixins.scss
    @include arrow(8px);
    @include rotate-arrow('down');

    font-size: 14px;
    line-height: 1;

    padding-right: 19px;
    &:hover {
      @include rotate-arrow('up');

      cursor: pointer;
    }
  }
}

.user-list {
  display: none;
}
