script(src="/js/libs.js")
//- Конструктор обновления браузеров
//- https://tech.yandex.ru/browser/constructor/
script(type='text/javascript', src='https://yastatic.net/browser-updater/v1/script.js', charset='utf-8')
//- Скрипты инициализации
script(src="/js/scripts.js")
