+b.analytics
  +e.head
    +e.title Заказы
    .swiper-pagination
  .swiper-container
    .swiper-wrapper
      - for (var x = 1; x <= 3; x++)
        .swiper-slide
          img(src='/img/tmp/slide' + x + '.png', alt='Alt')
