+b.HEADER.header
  .container
    .row.row_flex.row_align-center
      a(href='/').logo
        +svg-icon('logo')
      +b.NAV.nav
        each item, i in navMenu
          +e.link(
            href=(!i ? '#' : item.href),
            class=(!i ? 'is-active' : '')
          )=item.name
        +e.anchor
          +b.BUTTON.sub-nav
            +svg-icon('dots')
            +e.UL.list
              each item in subNavMenu
                +e.item
                  +e.link(href=item.href)=item.name
      +b.current-action
        +e.BUTTON.pause.circle.circle_yellow
          +svg-icon('pause')
        +e.SPAN.subscriber-number + 375 (44) 000-00-00
        +e.SPAN.call-duration 0:24
        +e.BUTTON.cancel.circle.circle_red
          +svg-icon('phone')
      +b.order-creation(href='/orders.html') Создать заказ
      +b.user.js-user
        +e.name Наталья
        +e.arrow
          +b.sub-menu.sub-menu_call
            +e.BUTTON.arrow
            +e.UL.list
              +e.item
                +e.link(href='/') Профиль
              +e.item
                +e.link(href='/') Выход
        +b.UL.user-list
          +e.item a
          +e.item b
          +e.item s
