// /src/scss/_vars.scss

$site-width: 1360px;               // ширина сайта
$gutter: 15px;                  // Размер отсупа

// Шрифты используемые, в проекте
$font-family: Roboto, sans-serif;  // Передаётся в _reset.scss
$font: Roboto;                     // переменная, используемая в миксине шрифта

// Цвета, используемые в проекте
$body-bgc: white;                 // цвет фона сайта
$black: #171717;                  // Основной черный цвет, используется в основном для текста
$light-gray: #757575;
$border: #ececec;                 // цвет бордера таблицы
$white: white;
//$yellow: #f2c94c;
$yellow: #ffdd2b;
$red: #eb5757;
$green: #27ae60;

// Основные брендовые цвета
$breakpoint: 1200px;              // момент переключения навигационного меню

// Размеры блоков
$map-width: 530px;

$sm: 544px;                       // Small screen / phone
$md: 768px;                       // Medium screen / tablet
$lg: 992px;                       // Large screen / desktop
$xl: 1200px;                      // Extra large screen desktop
$xxl: 1440px;                     // Wide desktop
