// /src/scss/_grid.scss

.container {
  width: $site-width;
  min-width: $site-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gutter;
  padding-left: $gutter;
}

// используется в сочетании с основным контейнером .container
.row {
  margin-left: -$gutter;
  margin-right: -$gutter;

  &_flex {
    display: flex;
    flex-wrap: wrap;
  }

  &_align-center {
    align-items: center;
  }

  &_content-center {
    justify-content: center;
  }
}
