// /src/scss/см. _typography.scss

h1,
.h1 {
  @include font(36px, 600, 40px);

  margin: 10px 0 26px;
}

p {
  @include font(16px, 300, 26px);
}

.uppercase {
  text-transform: uppercase;
}

a {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}
