
.lateness {
  @include font(13px);

  display: flex;
  align-items: center;

  padding: 8px 14px 8px 10px;

  border: 2px solid $yellow;
  border-radius: 5px;

  &__order-number {
    margin-right: 10px;

    color: $black;
  }

  &__employee {
    margin-right: 10px;

    color: $light-gray;
  }

  &__delay {
    @include font(14px);

    margin-right: 19px;
    margin-left: auto;

    color: $red;
  }

  &__anchor {
    margin-left: 15px;
    padding: 5px;
    .svg-icon-dots {
      width: 4px;
      height: 18px;
    }
  }

  .circle {
    margin-right: 14px;
  }
}
