.map {
  position: relative;

  min-width: $map-width;
  height: calc(100vh - 60px - 15px); // screen height - header - footer

  &__placemark {
    width: 20px;
    height: 27px;

    color: $green;

    fill: $white;
    &:hover {
      width: 42px;
      height: 58px;
    }

    &_red {
      color: $red;
    }

    &_green {
      color: $green;
    }
  }
}

.regions-map {
  @include transition;

  position: absolute;
  z-index: 1;
  right: 15px;
  bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  padding: 20px 15px;

  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  &.is-expanded {
    width: 500px;
    min-height: 275px;
  }

  &__title {
    font-size: 14px;

    margin-right: 50px;

    .is-expanded & {
      font-size: 0;
    }
  }

  &__arrow {
    @include transition();

    position: absolute;
    top: 15px;
    right: 15px;

    display: inline-block;

    width: 30px;
    height: 30px;

    border: 1px solid $gray-white;
    border-radius: 50%;

    &:hover {
      cursor: pointer;

      box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    }

    &::after {
      @include transition;

      position: absolute;
      top: 50%;
      left: 50%;

      display: block;

      width: 10px;
      height: 10px;

      content: '';
      transform: translate(-50%, -25%) rotate(-45deg);
      transform-origin: center;

      border: 3px solid $black;
      border-bottom: none;
      border-left: none;
    }

    &:hover {
      cursor: pointer;
    }

    .is-expanded & {
      @include rotate-arrow('down');
    }
  }

  &:not(.is-expanded) &__plus {
    display: none;
  }

  &__plus {
    @include transition;

    position: relative;

    box-sizing: content-box;
    width: 12px;
    height: 12px;
    padding: 10px 8px 6px 8px;

    border: 1px solid $gray-white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    &:hover {
      cursor: pointer;

      box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 12px;
      height: 2px;

      content: '';
      transform: translate(-50%, -50%);

      background: $black;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 2px;
      height: 12px;

      content: '';
      transform: translate(-50%, -50%);

      background: $black;
    }
  }

  &:not(.is-expanded) &__minus {
    display: none;
  }

  &__minus {
    @include transition;

    position: relative;

    box-sizing: content-box;
    width: 12px;
    height: 12px;
    padding: 10px 8px 6px 8px;

    border: 1px solid $gray-white;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;

    &:hover {
      cursor: pointer;

      box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 12px;
      height: 2px;

      content: '';
      transform: translate(-50%, -50%);

      background: $black;
    }
  }

  &__zoom-control {
    position: absolute;
    right: 15px;
    bottom: 15px;

    display: flex;
    flex-direction: column;
  }

  &:not(.is-expanded) &__map {
    width: 0;
    height: 0;
    margin-right: 0;
  }

  &__map {
    width: 258px;
    height: 236px;
    margin-right: 100px;

    .is-expanded & {
      @include transition;
    }
  }
}

.map-group {
  &__region {
    @include transition;

    opacity: 0.6;

    fill: $light-gray;

    &:hover {
      opacity: 1;
    }
  }

  &__region-stroke {
    fill: $white;
  }
}
