.container
  .row.row_flex
    aside.map#map
    main.main
      article.block
        +b.lateness
          .circle.circle_small.circle_yellow
            +svg-icon('exclamation')
          +e.SPAN.order-number Заказ № 232
          +e.SPAN.employee Honda Civic (белый седан) PX 2345 P-7
          +e.SPAN.delay Опаздание 2 мин.
          +e.BUTTON.call
            +svg-icon('handset')
          +e.BUTTON.anchor
            +svg-icon('dots-vertical')
      article.block
      article.block