.container
  .row.row_flex
    aside.map#map
    main.main
      article.block
        include ../blocks/_lateness
      article.block.block_extra-padding
        include ../blocks/_orders
      article.block
