.container
  .row.row_flex
    aside.map#map-widget
      +b.regions-map.js-expander
        +e.title.js-title Карта районов
        +e.arrow.js-expander-open
        +e.map
          include ../svg/_map
        +e.zoom-control
          +e.plus
          +e.minus
    main.main
      article.block.block_small-padding
        include ../blocks/_lateness
      article.block.block_extra-padding
        include ../blocks/_orders
      article.block.block_flex
        include ../blocks/_analytics
        +b.minimap
          +e.title С 9:00 до 12:00 тариф Премиум
          include ../svg/_map
          +b.UL.indicators-list.minimap__indicators-list
            +e.item.indicator-circle.indicator-circle_free 0
            +e.item.indicator-circle.indicator-circle_busy от 1
            +e.item.indicator-circle.indicator-circle_transit от 30
            +e.item.indicator-circle от 50
