.container
  .row.row_flex
    aside.map#map-widget
      +b.regions-map.js-expander
        +e.title.js-title Карта районов
        +e.arrow.js-expander-open
        +e.map
          +map()
        +e.zoom-control
          +e.plus
          +e.minus
    main.main
      article.block.block_small-padding
        include ../blocks/_lateness
      article.block.block_extra-padding
        include ../blocks/_orders
      article.block.block_flex
        +b.orders-statisic
        +b.minimap
          +e.title С 9:00 до 12:00 тариф Премиум
          +e.map
            +map('hot-regions')
          +e.indicators-list
            +b.UL.indicators-list
              +e.item.indicator-circle.indicator-circle_gray 0
              +e.item.indicator-circle.indicator-circle_red от 1
              +e.item.indicator-circle.indicator-circle_yellow от 30
              +e.item.indicator-circle.indicator-circle_green от 50
