.container
  .row.row_flex
    aside.map#map-widget
      +b.regions-map.js-expander
        +e.title.js-title Карта районов
        +e.arrow.js-expander-open
        +e.map
          include ../svg/_map
        +e.zoom-control
          +e.plus
          +e.minus
    main.main
      article.block
        include ../blocks/_lateness
      article.block.block_extra-padding
        include ../blocks/_orders
      article.block
