.container
  .row.row_flex
    aside.map#map
      +b.regions-map.js-regions
        +e.title.js-title Карта районов
        +e.arrow.js-regions-open
    main.main
      article.block
        include ../blocks/_lateness
      article.block.block_extra-padding
        include ../blocks/_orders
      article.block
