// /src/scss/_common.scss
// Общие стили для всех страниц

.circle {
  @include transition();

  display: flex;

  width: 35px;
  height: 35px;

  border-radius: 50%;

  align-items: center;
  justify-content: center;

  &_small {
    width: 30px;
    height: 30px;
  }

  &_yellow {
    background-color: $yellow;

    &:hover {
      background-color: darken($yellow, 10%);
    }
    &:active {
      background-color: lighten($yellow, 5%);
    }
  }

  &_red {
    background-color: $red;

    &:hover {
      background-color: darken($red, 10%);
    }
    &:active {
      background-color: lighten($yellow, 5%);
    }
  }
}

.main {
  width: calc(100% - #{$map-width});
  padding: 30px 30px 28px 30px;
}

.block {
  padding: 10px;

  border-radius: 5px;
  background: $white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

  &:not(:first-child) {
    margin-top: 20px;
  }
}
