// /src/scss/_common.scss
// Общие стили для всех страниц

.circle {
  @include transition();

  display: flex;
  align-items: center;
  justify-content: center;

  width: 35px;
  min-width: 35px;
  height: 35px;

  border-radius: 50%;

  &_small {
    width: 30px;
    min-width: 30px;
    height: 30px;
  }

  &_yellow {
    background-color: $yellow;

    &:hover {
      background-color: darken($yellow, 10%);
    }
    &:active {
      background-color: lighten($yellow, 5%);
    }
  }

  &_red {
    background-color: $red;

    &:hover {
      background-color: darken($red, 10%);
    }
    &:active {
      background-color: lighten($yellow, 5%);
    }
  }
}

.main {
  width: calc(100% - #{$map-width});
  padding: 30px 30px 28px 30px;
}

.block {
  border-radius: 5px;
  background: $white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

  &:not(:first-child) {
    margin-top: 20px;
  }

  &_flex {
    display: flex;
  }

  &_small-padding {
    padding: 10px;
  }

  &_extra-padding {
    padding: 10px 11px 12px 30px;
  }
}

.indicator-circle {
  position: relative;

  padding-left: 7px + 8px; //7px диаметр, 8px отступ
  &:before {
    position: absolute;
    top: 3px;
    left: 0;

    display: inline-block;

    width: 8px;
    height: 8px;

    content: '';

    border-radius: 50%;
    background-color: #4f4f4f;
  }

  &_free:before {
    background-color: $green;
  }

  &_busy:before {
    background-color: $red;
  }

  &_transit:before {
    background-color: $yellow;
  }
}