.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.svg-icon-dots {
  font-size:(4/10)*1rem;
  width:(18/4)*1em;
}
.svg-icon-logo {
  font-size:(18/10)*1rem;
  width:(31/18)*1em;
}
.svg-icon-pause {
  font-size:(12/10)*1rem;
  width:(9/12)*1em;
}
.svg-icon-phone {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.svg-icon-placemark {
  font-size:(58/10)*1rem;
  width:(42/58)*1em;
}
