//- Название организации
-
  var companyName = 'Test taxi'

-
  var navMenu = [
    {name: 'Дашборд',     href: '/dashboard.html'},
    {name: 'Заказы',      href: '/orders.html'},
    {name: 'Автомобили',  href: '/auto.html'},
    {name: 'Тарифы',      href: '/rates.html'},
    {name: 'Клиенты',     href: '/clients.html'}
  ]

-
  var subNavMenu = [
    {name: 'Инструкции',  href: '#'},
    {name: 'Отчеты',      href: '#'},
    {name: 'Настройки',   href: '#'},
    {name: 'Аналитика',   href: '#'}
  ]