//- Название организации
-
  var companyName = 'Test taxi'

-
  var navMenu = [
    {name: 'Дашборд',     href: '/dashboard.html'},
    {name: 'Заказы',      href: '/orders.html'},
    {name: 'Автомобили',  href: '/auto.html'},
    {name: 'Тарифы',      href: '/rates.html'},
    {name: 'Клиенты',     href: '/clients.html'},
    //{name: 'Test',        href: '/test.html'},
    //{name: 'Test 2',      href: '/test2.html'}
  ]